# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# AI Agents
.claude/settings.local.json
.agents/mcp_config.json

# Backend
# Java
nexus-backend/target/
nexus-backend/nexus-backend.hprof

# Maven
nexus-backend/.mvn/wrapper/maven-wrapper.jar

# Python
__pycache__/
*.pyc

# Frontend
# Angular
nexus-frontend/dist/
nexus-frontend/node_modules/
